@use "sass:math";

// // imports 
// @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url("fonts/neue-cond/stylesheet.css");
@import url("fonts/neue/stylesheet.css");


//root

$white:#f7f7f7;
$gray_light:#e8e8e8;
$gray_normal:#8f8f8f;
$gray_dark:#222222;
$orange:#ff3e00;
$black:#0c0c0c;


.grained{
    background-image: url(/ui/grain.png);
}

.button_outline{
    position: relative;
    display: inline-block;
    padding: .8rem 1.2rem;
    padding-left: 2.2rem;
    border:1px solid $gray_normal;
    width: fit-content;
    border-radius: 3rem;
    overflow: hidden;
    transition: .7s;

    &::before{
        content: "";
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $orange;
        box-shadow: 0 0 10px $orange, 0 0 10px $orange,0 0 10px $orange,0 0 10px $orange;
        position: absolute;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
        transition: .7s;
    }

    &:hover{
        box-shadow: inset 0 0 150px $gray_dark;
        padding-left: 3.2rem;

        &::before{
            box-shadow: 0 0 10px $orange, 0 0 10px $orange;
            width: 20px;
            
            border-radius: 2px;
        }
    }
}

.button_filled{
    position: relative;
    display: inline-block;
    padding: 1.7rem 4rem;
    // padding-left: 7.2rem;
    border:1px solid $gray_normal;
    color: $gray_light;
    width: fit-content;
    border-radius: .7rem;
    overflow: hidden;
    transition: .7s;
    font-size: .9rem;
    display: flex;
    font-weight: 500;
    @extend .font_2;
    align-items: center;
    gap: 1rem;

    >span:nth-last-child(1){
        content: "⇒";
        width: 4rem;
        height: 2rem;
        font-size: 1.2rem;
        font-weight: 600;
        color: $orange;
        border-radius: 15px;
        background-color: $gray_light;
        box-shadow: 0 0 10px $orange;
        transition: .7s;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    &:hover{
        box-shadow: inset 0 0 150px $gray_dark;
        padding-left: 3.2rem;

        &::before{
            box-shadow: 0 0 10px $orange, 0 0 10px $orange;
            width: 20px;
            
            border-radius: 2px;
        }
    }
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: "Outfit", sans-serif;
    font-family: 'Neue Plak', sans-serif;

    transition: .2s;
}

.font_2{
    // font-family: "Albert Sans", sans-serif;
    font-family: 'Neue Plak', sans-serif;
}

.font_3{
    font-family: 'Neue Plak Condensed', sans-serif !important;
}

html{
    overflow-x: hidden;
}

body{
    background-color: $gray_light;
    // background-image: url(/ui/grain.png);
    position: relative;
    overflow-x: hidden;
    // transition: 1s;
    // transition-delay: 1s !important;

    // &.dark{
    //     transition-delay: .2s;
    //     background-color: #1d1d1d
        
    // }

   




    >#load_page{
        @extend .grained;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
        z-index: 20;
        backdrop-filter: blur(50px);
        transition: opacity 1s;
        background-color: #000000;
        animation: load_out 3.5s ease-in-out forwards;
        padding-bottom: 20vh;
        
        @keyframes load_out {
            0%{
                backdrop-filter: blur(100px);
            }
            70%{
                backdrop-filter: blur(100px);
            }
            95%{
                backdrop-filter: blur(0);
            }
            99%{
              
                backdrop-filter: blur(0);
            }
            100%{
                backdrop-filter: blur(100);
                display: none;
            }
            
            
        }
        
        &,*{
            filter: unset;
        }

        >#load_name{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 2rem;

            >div{
                height: 1.1em;
                overflow: hidden;
                animation: load_name_an_1 2.4s linear forwards;
                color: $gray_light;
                font-weight: 400;
                
                // transition-delay: .2s;
                @keyframes load_name_an_1 {
                    25%{transform: translateY(0);filter: blur(0px);opacity: 1;}
                    65%{transform: translateY(0);filter: blur(0px);opacity: 1;}
                    85%{transform: translateY(0);filter: blur(5px);opacity: 0;}
                    
                }

             
                &:nth-child(1){
                    opacity: 0;
                    filter: blur(5px);
                   transform: translateY(-40%);
                }
                &:nth-child(2){
                    opacity: 0;
                    filter: blur(5px);
                   transform: translateY(30%);
                   animation-delay: .4s !important;
                }
            }
        }


        >#load_slogan{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            >span{
                // display: inline-block;
                display: none;
                width: 1rem;
                height: 3px;
                background-color: $orange;
                opacity: 0;
                animation-delay: 1.4s !important;
                

         


            }
            h4{
                font-weight: 500;
                color: $orange;
                animation: load_slogan_an_2 2.4s linear forwards;
                @keyframes load_slogan_an_2 {
                    25%{opacity: 1;transform: translateX(0);}
                    95%{opacity: 1;transform: translateX(0);}
                    100%{opacity: 0;transform: translateX(0);}
                }

                >span{
                    display: inline-block;
                    opacity: 0;
                    transform: translateX(-.3rem);
                    animation: load_slogan_an_1 .2s linear forwards;
                    @keyframes load_slogan_an_1 {
                        to{opacity: 1;transform: translateX(0);}
                    }
                    
                    &:nth-child(1){animation-delay: 1.1s;}
                    &:nth-child(2){animation-delay: 1.2s;}
                    &:nth-child(3){animation-delay: 1.3s;}
                    &:nth-child(4){animation-delay: 1.4s;}
                }
            }
        }


        &.load_before{
            display: flex !important;
            opacity: 1 !important;

            >*{
                opacity: 0;
            }
        }


        
    }


    


    
    &:has(.dark){
        >nav{
            color: $gray_light;
            >#nav_left{
                >h1{
                    font-weight: 600;
                }
            }

            >#menu_button{
                background-color: $gray_light;

                >span{
                    background-color: $gray_dark;
                }
            }
        }
    }

    // &:has(.white){
    //     >nav{
    //         color: $gray_dark;
    //         >#nav_left{
    //             >h1{
    //                 font-weight: 600;
    //             }
    //         }

    //         >#menu_button{
    //             background-color: $gray_light;

    //             >span{
    //                 background-color: $gray_dark;
    //             }
    //         }
    //     }
    // }
}


// general

button{
    background-color: none;
    outline: none;
    border: none;
    border-radius: 5px;

}

a{
    color: unset;
    text-decoration: unset;
}

ul{
    list-style-type: none;
}


// exception

body:has(.menu_active){
    nav{
        opacity: 0;
    }
}

// parts

nav{
    width: calc(100% - 1rem);
    padding: .2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.5rem;
    position: fixed;
    top: 1rem;
    left: .5rem;
    z-index: 2;
    transition-delay: .3s !important;
    transition: .6s;
    // background: rgba(0,0,0,0.5);
    // -webkit-backdrop-filter: blur(10px);
    // backdrop-filter: blur(10px);
    // border: 1px solid rgba(0,0,0,0.25);
    // border-radius: .5rem;

    &::before{
        content: "";
        width: 100vw;
        height: 250%;
        pointer-events: none;
        backdrop-filter: blur(5px);
        // background-color: #ffffff96;
        mask-image: linear-gradient(#000000 50%, rgba(0, 0, 0, 0) 100%);
        position: absolute;
        top: -1.1rem;
        left: -.5rem;
        z-index: -1;
    }

    #nav_left{
        >h1{
            font-size: 1.5rem;
            font-weight: 700;
        }
        >span{
            font-weight: 300;
        }
    }

    

    >#menu_button{
        background-image: url(/ui/grain.png);
        background-color: $gray_dark;
        border: 1px solid $gray_normal;
        height: 3.6rem;
        aspect-ratio: 1/1;
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        gap: .5rem;
        padding: .7rem;

        >span{
            width: 100%;
            height: 3px;
            border-radius: 1px;
            background-color: $gray_light;

            

            &:nth-last-child(1){
                width: 70%;
            }
        }
        
    }

    >#nav_middle{
        display: none;
    }
    >#nav_right{
        display: none;
    }

}

menu{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 20;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    transition: .5s allow-discrete;
    padding: .4rem;
    // glass effect
    // background: rgba(95, 95, 95, 0.5);
    background-color: #222222cc;
    background-image: url(/ui/grain.png);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(0, 0, 0, 0.25);
    color: $white;
    opacity: 0;


    >#menu_decoration{
        width: 100%;
        height: 100%;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        // background-image: url(/ui/grain.png);
        >#menu_dec_globe{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -30vw;
            width: 120vw;
            height: 120vw;
            border-radius: 50%;
            opacity: .1;
            box-shadow: 0 0 100px $orange, 0 0 100px $orange;
            filter: blur(55px);
            background-color: $orange;
            background-image: url(/ui/grain.png);
        }
    }
    
    >#menu_header{
        // padding: .2rem;
        height: 3.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        top: .6rem;

        >div{

            >h1{
                
                font-size: 1.5rem;
                font-weight: 600;
            }
            >span{
                font-size: .9rem;
                font-weight: 300;
            }

            &:nth-child(1){
                margin-left: .4rem;
            }
        }

        >div:nth-last-child(1){
            display: flex;
            height: 100%;
            gap: 1rem;

            >button{
                height: 3.6rem;
                aspect-ratio: 1/1;
                font-size: 2.2rem;
                font-weight: 700;
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: 0;

                &:nth-child(1){
                    background-color: transparent;
                    >span{
                        font-size: 1rem;
                        font-weight: 400;
                        color: $gray_light;
                        &:nth-child(1){
                            color: $orange;
                        }
                        &:nth-child(2){
                            color: $gray_normal;
                        }
                    }
                }

    
                &:nth-last-child(1){
                    font-size: 2.2rem;
                    font-weight: 400;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    justify-content: center;
                    position: relative;
                    >span{
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        left: 50%;
                        transform: translateX(-50%);
                        height: 100%;
                       width: 100%;
                       line-height: 300%;
                       text-align: center;
                        padding-bottom: .4rem;

                    }
                }
            }
        }
    }

    >#menu_links{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding-left: 1rem;


       
        
        >*{
            @extend .font_3;
            font-size: 2.3rem;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: .5rem;
            position: relative;
            // width: fit-content;

            >span{
                width: 1rem;
                height: 3px;
                border-radius: 1px;
                background-color: $gray_normal;

                &:nth-child(1){
                    width: .5rem ;
                }

            }


            &.menu_link_active{
                color: $orange;

                >span:nth-child(1){
                    margin-right: .8rem;
                }
            }

            &:nth-last-child(1){
                color: #7c7c7c;
                position: relative;

                >span:nth-last-child(1){
                    background-color: transparent;
                    width: unset;
                    height: unset;
                    color: $gray_light;
                    font-weight: 300;
                    font-size: .8rem;
                    @extend .font_2;
                    height: 100%;
                    display: flex;
                    align-items: flex-end;
                    padding-bottom: .5rem;
                }

             
            }

     
        }
    }

    &.menu_active{
        // transition: .5s;
        // left: 0%;

        animation: menu_activation .2s linear forwards;
        @keyframes menu_activation {
            0%{
                opacity: 0;
            }
            1%{
                opacity: 0;
                left: 0%;
            }
            100%{
                opacity: 1;
                left: 0%;
            }
            
        }
    }

    >#menu_footer{
        height: 120vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        >div{
            height: 45%;
            // border: 1px solid $orange;
            padding: 0 1rem;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            &:nth-last-child(1){
                height: 10%;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-end;
                padding: 0;
                >span{
                    @extend .font_3;
                    font-size: 1.1rem;
                    color: #b7b7b7;

                    >span{
                        // background-color: $orange;
                        border-radius: 50%;
                        font-size: .9rem;
                    }
                }
            }

            &:nth-child(2){
                justify-content: center;

                >h2{
                    @extend .font_3;
                    font-size: 2.5rem;
                    color: #ffffff;
                    opacity: .5;
                }
                >div{
                    width: 100%;
                    // border: 1px solid $black;
                    height: 2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1.2rem;
                    margin-top: 1rem;
                    
                    >a{
                        font-size: 1.7rem;
                        color: #b7b7b7;
                    }
                }
            }
            >p{
               
                font-size: .8rem;
                font-weight: 500;
                color: #b7b7b7;
            }

        }
    }
}

.decoration_box{
    position: absolute;
    top: 0;
    left: 0;
    height: 95%;
    width: 100%;
    z-index: -2;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    >div{
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}

main{
    // width: calc(100% - 1rem);
    width: 100%;
    position: relative;
    left: 0;
    // padding-top: 2rem;
    margin-top: 1rem;
    padding: .5rem;
    transition-delay: .3s !important;
    transition: .6s;
    display: flex;
    flex-direction: column;
    // padding-bottom: 20vh;
    gap: 1rem;
    @extend .grained;

    &.dark{
        transition: 1s;
        background-color: $gray_dark;

        *{
            // color: $gray_light;
        }
        

        

        #main_part_2,#main_part_3{
            color: $gray_light;
        }
    }

    &.white{
        transition: 1s;
        background-color: $gray_dark;

        

       

        #part_5_content>div{
            color: $gray_normal !important;
        }
    }


    &.main_disabled{
        // transition: .5s;
        // left: -100%;
        opacity: 0;
    }

    .main_part{
        position: relative;
    }

    >#main_part_1{
        height: 100vh;
        
        >.decoration_box{
            >div:nth-child(1){
                >div:nth-last-child(1){
                    font-style: italic;
                }
            }

            >div:nth-last-child(1){
                >div:nth-last-child(1){
                    overflow: hidden;
                    #scroll_text{
                        font-size: 1.1rem;
                        display: inline-block;
                        animation: scroll_text_an 5s linear infinite;
        
                        @keyframes scroll_text_an {
                            0%{
                                transform: translateY(-2rem) rotate(10deg);
                            }
                            

                            30%{
                                transform: translateY(0);
                                
                            }

                            70%{
                                transform: translateY(0);
                            }
                            

                            100%{
                                transform: translateY(2rem);
                            }
                        }
        
                    }
                }
            }

           
        }


        >h1{
            // margin-top: 28vh;
            margin-top: 18vh;
            text-align: center;
            font-size: 8vw;
            font-weight: 600;

            >span{
                // text-decoration: underline $orange;
            }
        }
    }

    >#main_part_2{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        gap: 3rem;
        height: 100%;
        


        // >#part_2_slider{
        //     @extend .grained;
        //     width: 100%;
        //     height: 100%;
        //     background-color: $gray_light;
        //     color: $gray_dark !important;
        //     padding: .5rem;
        //     display: flex;
        //     flex-direction: column;
        //     gap: .5rem;
        //     border-radius: .5rem;

        //     >div{
        //         width: 100%;
        //     }

        //     >#part_2_slider_header{
        //         padding: .5rem 0;
        //         display: flex;
        //         align-items: center;
        //         justify-content: space-around;
        //         >div{
        //             display: flex;
        //             flex-direction: column;
        //             align-items: center;
        //             gap: .5rem;
        //             >span:nth-last-child(1){
        //                 font-size: .7rem;
        //             }
        //         }
        //     }

        //     >#part_2_slider_timer{                
        //         >div{
        //             width: 100%;
        //             background-color: $orange;
        //             height: 1px;
        //         }              
        //     }

        //     >#part_2_slider_content{
        //         padding: 2rem .5rem;
        //         >div{
        //             width: 100%;

        //             >ul{
        //                 display: flex;
        //                 flex-direction: column;
        //                 gap: .75rem;
        //             }
        //         }
        //     }
        // }

        >h1{
            font-size: 1.2rem;
            font-weight: 500;
            color: $gray_dark;
            // padding: .5rem;

        }

        >div{
            display: flex;
            flex-direction: column;
            gap: 3rem;

            >div{
                display: flex;
                flex-direction: column;
                gap: .5rem;
                
                >div{
                    height: 2.8rem;
                    display: flex;
                    position: relative;
                    gap: 1rem;
                    
                    >div{
                        height:100%;
                    }

                    >div:nth-child(1){
                        display: flex;
                        flex-direction: column;
                        gap: .1rem;
    
                        >h2{
                            @extend .font_2;
                            text-transform: uppercase;
                            font-size: 1.4rem;
                            // overflow: hidden;
                            text-wrap: nowrap;
                        }
                    }

                    >div:nth-child(2){
                        height: 100%;
                        aspect-ratio: 1/1;

                        >svg{
                            height: 100%;
                            width: 100%;

                            .cls-1{
                                fill: $orange;
                                stroke-width: 5px;
                                stroke: $orange;
                            }
                        }
                    }

                    
                }
                >p{
                    font-size: .8rem;
                    @extend .font_2;
                    text-transform: uppercase;
                }
            }
        }

        // >div{
        //     display: flex;
        //     justify-content: center;
        //     flex-direction: column;
        //     align-items: flex-start;
        //     >div{
        //         height: 100%;
        //         width: 50%;
               
    
        //         >div{
        //             width: 100%;
        //             // background-color: $gray_normal;
        //             border-radius: .7rem;
        //             // color: $white;
        //             padding: .5rem;
        //             display: flex;
        //             flex-direction: column;
        //             gap: 1.5rem;
    
        //             >h2{
        //                 font-size: 1.2rem;
        //                 font-weight: 600;
        //             }
    
        //             ul{
        //                 list-style-type: none;
        //                 display: flex;
        //                 flex-direction: column;
        //                 gap: 1rem;
        //                 font-size: .9rem;
        //             }
        //         }

        //         &#part_2_left{
        //             display: flex;
        //             flex-direction: column;
        //             gap: 1rem;
                    
        //             >div{
        //                 // height: 100%;
        //             }
        //         }
    
        //         &#part_2_right{
        //             display: inline-block;
        //             flex-shrink: 0;
        //             display: flex;
        //             flex-direction: column;
        //             justify-content: space-between;
                    
                   
        //         }
        //     }
        // }
        

    }


    >#main_part_3{
        margin-top: 15vh;
        // color: $gray_light;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        >h2{
            font-weight: 400;
            font-size: 1.7rem;
            width: 90%;
        }

        >a{
            margin-top: 1rem;
            @extend .button_outline;
        }
        
    }

    >#main_part_4{
        min-height: 100vh;
        padding-top: 7rem;
        display: flex;
        flex-direction: column;
        gap: 7rem;
        >h1{
            font-size: 1.2rem;
            font-weight: 500;
            color: $gray_normal;
            margin-bottom:-2rem;
        }

       
        >.part_4_box{
            width: 100%;
            height: 25rem;
            // background-color: #b4b4b418;
            display: flex;
            gap: .5rem;
            color: $gray_light;

            >div{
                // border: 1px solid #4b4b4b;
            }

            >.part_4_box_left{
                width: 45%;
                height: 100%;
                // background-color: $orange;
                text-align: left;
                padding: .2rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                // gap: 1rem;
                font-weight: 300;
                
                
                >h2{
                    font-size: 1.1rem;
                    font-weight: 400;
                    margin-bottom: .5rem;
                }


                >div{
                    display: flex;
                    flex-direction: column;
                    gap: .1rem;

                    >span{
                        width: fit-content;
                        border-radius: 3px;
                        font-size: .9rem;
                    }

                    >span:nth-child(1){
                        font-size: .8rem;
                        color: $gray_normal;
                        font-weight: 400;
                    }
                }

                >a{
                    @extend .button_outline;
                }
            }
            >.part_4_box_right{
                width: 55%;
                height: 100%;
                background-color: #4b4b4b;
                border-radius: .5rem;
                @extend .grained;
                overflow: hidden;

                >img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        >.part_4_box:nth-child(odd){
            align-items: flex-end;
            flex-direction: row-reverse;
            *{
                align-items: flex-end;
                text-align: right;
            }
        }

        >#part_4_footer{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            >span{
                font-size: 1rem;
                color: $gray_normal;
            }
            >h3{
                width: 90%;
                @extend .font_2;
                color: $gray_light;
                font-size: 1.4rem;
                font-weight: 300;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                
                
            }
        }

        
    }

    >#main_part_5{
        margin-top: 15vh;
        min-height: 120vh;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 4rem;
       

        >div:nth-child(1){
            display: flex;
            width: 100%;
            align-items: flex-end;
            justify-content: space-between;
            >h1{
                color: $gray_normal;
            }

            >div{
                overflow: hidden;
                >span{
                    display: inline-block;
                    position: relative;
                    color: $gray_normal;
                    animation: scroll_text_an 5s linear infinite;
                }
            }
        }

        >#part_5_content{
            position: relative;
            display: flex;
            flex-direction: column;
            // height: 60vh;
            // gap: 15%;
            padding-left: 1rem;

            >#part_5_progress_bar{
                height: 10%;
                width: 2px;
                background-color: $orange;
                position: absolute;
                top: 0;
                left: 0;
                transition: 1s ease;
                border-radius: 2px;
                filter: unset;
                box-shadow: 0 0 10px $orange;
                padding-left: 0 !important;

                >span{
                    display: inline-flex;
                    align-items: center;
                    justify-content: flex-start;
                    width: 3rem;
                    height: 2rem;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                    position: absolute;
                    left: 0;
                    bottom: -1rem;
                    background-color: $orange;
                    z-index: 2;
                    @extend .grained;
                    box-shadow: 0 0 10px $orange;
                    padding-left: .5rem;

                
                    

                }
            }

            >div{
                padding-left: .9rem;
                height: 15vh;
                // max-height: 10em;
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                color: $gray_light;
                gap: 1rem;
                // filter: blur(30px);
                transition: 1s;

                >span{
                    z-index: 3;
                }

                &.active{
                    filter: unset;
                    >h4{
                        filter: blur(0);
                    }
                }

                @extend .font_2;

                >h4{
                    transition: 1s;
                    font-size: .9rem;
                    font-weight: 300;
                    @extend .font_2;
                    padding-left: .5rem;
                    filter: blur(10px);
                }

                &:nth-child(1){
                    color: $orange;
                    filter: unset;
                    

                    >h4{
                        font-weight: 500 !important;
                        filter: unset;
                    }

                    >span{
                        color: $gray_light;
                    }
                }

                &:nth-child(2){
                    // margin-top: 13%;
                }
            }
        }
    }

    >#main_part_6{
        display: flex;
        flex-direction: column;
        gap: 4rem;
        text-align: right;
        

        >#part_6_banner{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding: 10vh 0;
            >h1{
                font-size: 1.1rem;
                color: $gray_light;
                font-weight: 600;
            } 
    
            >h2{
                font-size: 1.1rem;
                color: $gray_light;
                font-weight: 300;            
            }
        }

        >#part_6_content{
            font-weight: 300;
            color: $gray_light;
        }
        
        
    }
}

#about_main{
    padding-top: 20vh;
    

    >.about_part{
        position: relative;
    }

    >#about_part_1{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        height: 80vh;
        >#about_part_1_header{
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
            >h1{
                // display: flex;
                // flex-direction: column;
                // align-items: center;
                // justify-content: center;
                text-align: center;
                font-size: 2rem;
                font-weight: 600;

                >span{
                    color: $orange;
                }
            }
        }

        >.wrap{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 25vh;
        }
    }

    >#about_part_2{
        height: 200vh;
        padding-top: 5vh;

        display: flex;
        flex-direction: column;
        gap: 2rem;

        

        >#about_part_2_header{
            >h1{
                font-size: 2rem;
                @extend .font_2;
            }
        }

        >#about_part_2_content{

            >#a_p_c_1{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                >h2{
                    display: flex;
                    flex-direction: column;
                    gap: .3rem;
                    font-weight: 400;
                }


                >div{
                    width: 6rem;
                    padding: 2rem .5rem ;

                    >svg{
                        width: 60%;
                        height: fit-content;
                        transform: rotate(180deg) scaleX(-1);
                    }
                }


                >p{

                    font-size: 1.4rem;
                    >span{
                       

                        &:nth-child(1){
                            color: $orange;
                        }

                        &:nth-last-child(1){
                            font-weight: 500;
                        }
                    }
                }
            }

        }
    }


}


/// PERFECTION


$cirle-width: 95vw;

.wrap {
//   background-color: #1d1d1d;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  position: relative;  
  width: $cirle-width;
  height: $cirle-width;
  border: 1.5px solid $orange;
  border-radius: 50%;
  position: relative;   
  animation: spin-outer 4s linear infinite;
//   box-shadow: 0 0 200px #9a9a9a93;
  & > & {
    width: 61.8047%;
    height: 61.8047%;
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translatex(-50%); 
    animation: spin-inner 4s linear infinite;
  }
}

@keyframes spin-outer {
    0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes spin-inner {
    0% { transform: translatex(-50%) rotate(0deg); }
  100% { transform: translatex(-50%) rotate(360deg); }
}




footer{
    // margin-top: 20vh;
    height: 70vh;
    width: 100%;
    background-color: $black;
    @extend .grained;
    color: $gray_light;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    padding-top: 1rem;
    
    position: relative;
    z-index: 1;

    // footer globe
    >span{
        position: absolute;
        bottom: -10%;
        right: -20%;
        display: inline-block;
        width: 80vw;
        height: 50vh;
        box-shadow: 0 0 200px $orange,0 0 200px $orange;
        // animation: footer_globe_an 5s linear infinite;
        // @keyframes footer_globe_an {
        //     0%{box-shadow: 0 0 70px $orange}
        //     50%{box-shadow: 0 0 70px $orange,0 0 70px $orange,0 0 70px $orange;}
        //     100%{box-shadow: 0 0 70px $orange}
        // }

        aspect-ratio: 1/1;
        background-color: $orange;
        // border-radius: 10%;
        border-top-left-radius: 80%;
        z-index: -3;
        @extend .grained;

    }

    >#footer_header{
        padding: .5rem;
        font-size: 1.4rem;
    }

    >#footer_button{
        // margin-left: .5rem;
        margin-top: 2rem;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }


    
    >#footer_content{
        padding: .5rem;
        height: 100%;
        display: flex;
        gap: 2rem;
        padding-bottom: 4rem;
        >div{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            text-transform: uppercase;
            gap: 1.5rem;
        }

    }

    >#footer_footer{
        font-size: 35vw;
        color:$gray_light;
        font-weight: 900;
        display: flex;
        flex-direction: column;
        line-height: 75%;
        text-align: center;
        position: relative;
        align-items: center;
        left: 50%;
        transform: translateX(-50%) translateY(.2rem);

        >span{
            position: relative;
        
            display: inline-block;
        }
    }
}



// backgrounds
  
@keyframes godrays {
    from {
        background-position: 50% 50%, 50% 50%;
    }
    to {
        background-position: 350% 50%, 350% 50%;
    }
}

.godrays {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    --stripes: repeating-linear-gradient( 100deg, #fff 0%, #fff 7%, transparent 10%, transparent 12%, #fff 16% );


    --rainbow: repeating-linear-gradient( 100deg, #9a9a9a 10%, #141414 15%, #9a9a9a 20%, #8f8f8f 25%, #9a9a9a 30% );
    background-image: var(--stripes), var(--rainbow);
    background-size: 300%, 200%;
    background-position: 50% 50%, 50% 50%;
    // filter: invert(100%);
    mask-image: radial-gradient(ellipse at 100% 0%, black 30%, transparent 70%);
    pointer-events: none;
    opacity: .3;
    z-index: -1;
}

.godrays::after {
    content: "";
position: absolute;
inset: 0;
background-image: var(--stripes), var(--rainbow);
background-size: 200%, 100%;
animation: godrays 80s linear infinite;
background-attachment: fixed;
mix-blend-mode: difference;
}


#globe_wrapper{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 20rem;
    padding-top: 25rem;
    z-index: -2;
    // opacity: 0;
    transition: .5s;

    &.passive{
        opacity: 0;

        >#globe{
            transition: .5s;
            background-color: transparent;
        }
    }

    #globe{
        // width: 33rem;
        // height: 33rem;
        // position: absolute;
        // bottom: -5rem;
        // right: -15rem;

        width: 100%;
        height: 100%;

        position: absolute;
        left: 50%;
        transform: translateX(-50%) translateY(-5%) scale(.8);

        // box-shadow: 0 0 100px $orange;
        // background-color: $orange;
        z-index: -2;
        border-radius: 50%;
        
        transition: .5s;
        background-image: url(/ui/grain.png);
       &.globe_bigger{
        transition: 1s;
        width: 66rem;
        height: 66rem;
        
       }

       


    //    animation: globe_an linear forwards;
    //    animation-timeline: scroll(root);

    //     @keyframes globe_an {
    //         30%{width: 55rem; height: 55rem;}
    //         100%{width: 55rem; height: 55rem;}
    //     }
    
    }
}




// golden ratio

  

  
  $frame:$gray_normal;
  $circles: #1f1f1f;


  $frame: $gray_normal;
  $circles: #1f1f1f;
//   $orange: #FFA500; // Orange rengin eksik olduğu varsayıldı
  
  $width: 330px; // Ana boyut değişkeni
  
  // Eleman boyutları width'e göre hesaplanacak
  $circle-large-size: $width;
  $circle-small-size: $width * 0.4933; // 148 / 300
  $bullseye-size: $width * 0.0367; // 11 / 300
  $ellipse-width: $width * 1.5; // 450 / 300
  $ellipse-height: $width * 0.5; // 150 / 300
  
  .ct *::before,
  .ct *::after {
    content: '';
    position: absolute;
  }
  
  .ct {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: $width;
    height: $width;

    *{
        animation-delay: 3.2s !important;
    }
  }
  
  // Blue big circle and its diameter coordinates
  .circle-large {
    width: $circle-large-size;
    height: $circle-large-size;
    position: relative;
    border-radius: 100%;
    border: 2px solid $circles;
  
    &::before {
      background: $circles;
      top: 50%;
      width: $circle-large-size - 1px;
      height: 1px;
    }
  
    &::after {
      background: $circles;
      left: 50%;
      top: 0;
      width: 1px;
      height: $circle-large-size - 1px;
    }
  
    * {
      transition: 0.5s !important;
      opacity: 1;
    }
  
    &.passive * {
      opacity: 0;
    }
  }
  
  // Smaller, orange, centered circle
  .circle-small {
    width: $circle-small-size;
    height: $circle-small-size;
    border-radius: 100%;
    box-shadow: 0 0 0 1px $circles;
    position: absolute;
    top: ($width - $circle-small-size) / 2;
    left: ($width - $circle-small-size) / 2;
    z-index: 2;
    animation: counterRotate 8s infinite linear;
  }
  
  // Tiny orange circle that spins on circle-small's side
  .bullseye {
    width: $bullseye-size;
    height: $bullseye-size;
    border: 2px solid $orange;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    margin-left: -($bullseye-size / 2);
    margin-top: -($bullseye-size / 2);
    animation: rotate 4s infinite linear;
  
    &::before {
      width: $circle-small-size;
      height: $circle-small-size;
      left: -($circle-small-size / 2);
      top: -($circle-small-size / 2);
      border-radius: 100%;
      border: 2px solid $orange;
    }
  }
  
  .axis {
    position: absolute;
    background: $circles;
    border: 0;
    z-index: 2;
    margin: 0;
  
    &.horizontal {
      top: 4px;
      left: -($width / 2 - 4px);
      width: $width;
      height: 2px;
    }
  
    &.vertical {
      top: -($width / 2 - 4px);
      left: 4px;
      height: $width;
      width: 2px;
    }
  
    &::before,
    &::after {
      width: 9px;
      height: 9px;
      background: $orange;
      border-radius: 100%;
    }
  
    &::before {
      top: -4px;
      left: -4px;
    }
  
    &::after {
      bottom: -4px;
      right: -4px;
    }
  }
  
  .bullet {
    width: $bullseye-size;
    height: $bullseye-size;
    border-radius: 100%;
    border: 1px solid $frame;
    position: absolute;
    top: $width * 0.23; // 69 / 300
    left: -($bullseye-size / 2);
  
    &:nth-child(2) {
      top: $width * 0.73; // 219 / 300
    }
  }
  
  // Orange ellipses
  .ellipse {
    border: 2px solid $frame;
    position: absolute;
    border-radius: 100%;
    width: $ellipse-width;
    height: $ellipse-height;
    top: ($width - $ellipse-height) / 2;
    left: -($ellipse-width - $width) / 2;
  }
  
  .ellipse:nth-child(3) {
    transform: rotate(45deg);
  }
  .ellipse:nth-child(4) {
    transform: rotate(90deg);
  }
  .ellipse:nth-child(5) {
    transform: rotate(135deg);
  }
  
  @keyframes counterRotate {
    to {
      transform: rotate(-360deg);
    }
  }
  
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
  






 

/* Çizgi Çerçevesi */
.marquee {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    // border: 1px solid #000; /* Çizgi rengi */
    width: 101vw;
    margin-left: -.6rem;
    height: 50px; /* Çizgi yüksekliği */
    display: flex;
}

/* Kayan İçerik */
.marquee-content {
    display: flex;
    align-items: flex-end;
    animation: marquee 10s linear infinite;
}

/* İki Kopyayı Yan Yana Getirme */
.marquee-content span {
    // padding-right: 50px; /* İki kopya arasındaki mesafe */
    display: inline-block;
    font-size: 1.1rem;

    >span{
        padding: 0 .5rem;
    }
}

/* Animasyon */
@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}


