// imports 
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');
//root

$white:#f7f7f7;
$gray_light:#d4d4d4;
$gray_normal:#8f8f8f;
$gray_dark:#222222;
$orange:#ff3e00;
$black:#0c0c0c;


.grained{
    background-image: url(/ui/grain.png);
}

.button_outline{
    position: relative;
    display: inline-block;
    padding: .8rem 1.2rem;
    padding-left: 2.2rem;
    border:1px solid $gray_normal;
    width: fit-content;
    border-radius: 3rem;
    overflow: hidden;
    transition: .7s;

    &::before{
        content: "";
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $orange;
        box-shadow: 0 0 10px $orange, 0 0 10px $orange,0 0 10px $orange,0 0 10px $orange;
        position: absolute;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
        transition: .7s;
    }

    &:hover{
        box-shadow: inset 0 0 150px $gray_dark;
        padding-left: 3.2rem;

        &::before{
            box-shadow: 0 0 10px $orange, 0 0 10px $orange;
            width: 20px;
            
            border-radius: 2px;
        }
    }
}

.font_2{
    font-family: "Albert Sans", sans-serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    transition: .2s;
}

html{
    overflow-x: hidden;
}

body{
    background-color: $gray_light;
    background-image: url(/ui/grain.png);
    min-height: 250vh;
    position: relative;
    overflow-x: hidden;

    &.dark{
        transition: 1s;
        background-color: $gray_dark;

        *{
            // color: $gray_light;
        }
        

        >nav{
            color: $gray_light;
            >#nav_left{
                >h1{
                    font-weight: 600;
                }
            }

            >#menu_button{
                background-color: $gray_light;

                >span{
                    background-color: $gray_dark;
                }
            }
        }
    }
}


// general

button{
    background-color: none;
    outline: none;
    border: none;
    border-radius: 5px;

}

a{
    color: unset;
    text-decoration: unset;
}

ul{
    list-style-type: none;
}


// exception

body:has(.menu_active){
    nav{
        opacity: 0;
    }
}

// parts

nav{
    width: calc(100% - 1rem);
    padding: .2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.5rem;
    position: fixed;
    top: 1rem;
    left: .5rem;
    z-index: 2;
    transition-delay: .3s !important;
    transition: .6s;
    // background: rgba(0,0,0,0.5);
    // -webkit-backdrop-filter: blur(10px);
    // backdrop-filter: blur(10px);
    // border: 1px solid rgba(0,0,0,0.25);
    // border-radius: .5rem;

    &::before{
        content: "";
        width: 100vw;
        height: 250%;
        pointer-events: none;
        backdrop-filter: blur(5px);
        // background-color: #ffffff96;
        mask-image: linear-gradient(#000000 50%, rgba(0, 0, 0, 0) 100%);
        position: absolute;
        top: -1.1rem;
        left: -.5rem;
        z-index: -1;
    }

    #nav_left{
        >h1{
            font-size: 1.5rem;
            font-weight: 700;
        }
        >span{
            font-weight: 300;
        }
    }

    

    >#menu_button{
        background-image: url(/ui/grain.png);
        background-color: $gray_dark;
        border: 1px solid $gray_normal;
        height: 90%;
        aspect-ratio: 1.2/1;
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        gap: .5rem;
        padding: .7rem;

        >span{
            width: 100%;
            height: 3px;
            border-radius: 1px;
            background-color: $gray_light;

            

            &:nth-last-child(1){
                width: 70%;
            }
        }
        
    }

    >#nav_middle{
        display: none;
    }
    >#nav_right{
        display: none;
    }

}

menu{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    transition: .5s ease;
    padding: .4rem;
    // glass effect
    background: rgba(0, 0, 0, 0.5);
    background-image: url(/ui/grain.png);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(0, 0, 0, 0.25);
    color: $white;

    
    >#menu_header{
        // padding: .2rem;
        height: 3.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        top: .5rem;

        >div{

            >h1{
                font-size: 1.3rem;
                font-weight: 600;
            }
            >span{
                font-size: .9rem;
                font-weight: 300;
            }
        }

        >button{
            height: 90%;
            aspect-ratio: 1/1;
            font-size: 1.7rem;
            font-weight: 700;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 0;
        }
    }

    >#menu_links{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        >a{
            font-size: 1.2rem;
            font-weight: 600;
        }
    }

    &.menu_active{
        transition: .7s;
        left: 0%;
    }
}

.decoration_box{
    position: absolute;
    top: 0;
    left: 0;
    height: 95%;
    width: 100%;
    z-index: -2;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    >div{
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}

main{
    width: calc(100% - 1rem);
    position: relative;
    left: .5rem;
    // padding-top: 2rem;
    margin-top: 1rem;
    padding: .2rem;
    transition-delay: .3s !important;
    transition: .6s;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &.main_disabled{
        // transition: .5s;
        // left: -100%;
        opacity: 0;
    }

    .main_part{
        position: relative;
    }

    >#main_part_1{
        height: 100vh;
        
        >.decoration_box{
            >div:nth-child(1){
                >div:nth-last-child(1){
                    font-style: italic;
                }
            }

            >div:nth-last-child(1){
                >div:nth-last-child(1){
                    overflow: hidden;
                    #scroll_text{
                        font-size: 1.1rem;
                        display: inline-block;
                        animation: scroll_text_an 5s linear infinite;
        
                        @keyframes scroll_text_an {
                            0%{
                                transform: translateY(-2rem) rotate(10deg);
                            }
                            

                            30%{
                                transform: translateY(0);
                                
                            }

                            70%{
                                transform: translateY(0);
                            }
                            

                            100%{
                                transform: translateY(2rem);
                            }
                        }
        
                    }
                }
            }

           
        }


        >h1{
            // margin-top: 28vh;
            margin-top: 18vh;
            text-align: center;
            font-size: 8vw;
            font-weight: 600;

            >span{
                // text-decoration: underline $orange;
            }
        }
    }

    >#main_part_2{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        gap: 3rem;
        height: 100%;
        


        // >#part_2_slider{
        //     @extend .grained;
        //     width: 100%;
        //     height: 100%;
        //     background-color: $gray_light;
        //     color: $gray_dark !important;
        //     padding: .5rem;
        //     display: flex;
        //     flex-direction: column;
        //     gap: .5rem;
        //     border-radius: .5rem;

        //     >div{
        //         width: 100%;
        //     }

        //     >#part_2_slider_header{
        //         padding: .5rem 0;
        //         display: flex;
        //         align-items: center;
        //         justify-content: space-around;
        //         >div{
        //             display: flex;
        //             flex-direction: column;
        //             align-items: center;
        //             gap: .5rem;
        //             >span:nth-last-child(1){
        //                 font-size: .7rem;
        //             }
        //         }
        //     }

        //     >#part_2_slider_timer{                
        //         >div{
        //             width: 100%;
        //             background-color: $orange;
        //             height: 1px;
        //         }              
        //     }

        //     >#part_2_slider_content{
        //         padding: 2rem .5rem;
        //         >div{
        //             width: 100%;

        //             >ul{
        //                 display: flex;
        //                 flex-direction: column;
        //                 gap: .75rem;
        //             }
        //         }
        //     }
        // }

        >h1{
            font-size: 1.2rem;
            font-weight: 500;
            color: $gray_dark;
            // padding: .5rem;

        }

        >div{
            display: flex;
            flex-direction: column;
            gap: 3rem;

            >div{
                display: flex;
                flex-direction: column;
                gap: .5rem;
                
                >div{
                    height: 2.8rem;
                    display: flex;
                    position: relative;
                    gap: 1rem;
                    
                    >div{
                        height:100%;
                    }

                    >div:nth-child(1){
                        display: flex;
                        flex-direction: column;
                        gap: .1rem;
    
                        >h2{
                            @extend .font_2;
                            text-transform: uppercase;
                            font-size: 1.4rem;
                        }
                    }

                    >div:nth-child(2){
                        height: 100%;
                        aspect-ratio: 1/1;

                        >svg{
                            height: 100%;
                            width: 100%;

                            .cls-1{
                                fill: $orange;
                                stroke-width: 5px;
                                stroke: $orange;
                            }
                        }
                    }

                    
                }
                >p{
                    font-size: .8rem;
                    @extend .font_2;
                    text-transform: uppercase;
                }
            }
        }

        // >div{
        //     display: flex;
        //     justify-content: center;
        //     flex-direction: column;
        //     align-items: flex-start;
        //     >div{
        //         height: 100%;
        //         width: 50%;
               
    
        //         >div{
        //             width: 100%;
        //             // background-color: $gray_normal;
        //             border-radius: .7rem;
        //             // color: $white;
        //             padding: .5rem;
        //             display: flex;
        //             flex-direction: column;
        //             gap: 1.5rem;
    
        //             >h2{
        //                 font-size: 1.2rem;
        //                 font-weight: 600;
        //             }
    
        //             ul{
        //                 list-style-type: none;
        //                 display: flex;
        //                 flex-direction: column;
        //                 gap: 1rem;
        //                 font-size: .9rem;
        //             }
        //         }

        //         &#part_2_left{
        //             display: flex;
        //             flex-direction: column;
        //             gap: 1rem;
                    
        //             >div{
        //                 // height: 100%;
        //             }
        //         }
    
        //         &#part_2_right{
        //             display: inline-block;
        //             flex-shrink: 0;
        //             display: flex;
        //             flex-direction: column;
        //             justify-content: space-between;
                    
                   
        //         }
        //     }
        // }
        

    }


    >#main_part_3{
        margin-top: 15vh;
        color: $gray_light;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        >h2{
            font-weight: 400;
            font-size: 1.7rem;
            width: 90%;
        }

        >a{
            margin-top: 1rem;
            @extend .button_outline;
        }
        
    }

    >#main_part_4{
        min-height: 100vh;
        padding-top: 7rem;
        display: flex;
        flex-direction: column;
        gap: 4rem;
        >h1{
            font-size: 1.2rem;
            font-weight: 500;
            color: $gray_normal;
            // padding: .5rem;
        }

        >.part_4_box{
            width: 100%;
            height: 25rem;
            // background-color: #b4b4b418;
            display: flex;
            gap: .5rem;
            color: $gray_light;

            >div{
                // border: 1px solid #4b4b4b;
            }

            >.part_4_box_left{
                width: 45%;
                height: 100%;
                // background-color: $orange;
                text-align: left;
                padding: .2rem;
                padding-right: .5rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                // gap: 1rem;
                font-weight: 300;
                
                
                >h2{
                    font-size: 1.1rem;
                    font-weight: 400;
                    margin-bottom: .5rem;
                }


                >div{
                    display: flex;
                    flex-direction: column;
                    gap: .1rem;

                    >span{
                        width: fit-content;
                        border-radius: 3px;
                        font-size: .9rem;
                    }

                    >span:nth-child(1){
                        font-size: .8rem;
                        color: $gray_normal;
                        font-weight: 400;
                    }
                }

                >a{
                    @extend .button_outline;
                }
            }
            >.part_4_box_right{
                width: 55%;
                height: 100%;
                background-color: #4b4b4b;
                border-radius: .5rem;
                @extend .grained;
            }
        }
        
    }
}



footer{
    height: 70vh;
    width: 100%;
    // background-color: $black;
    // @extend .grained;
    color: $gray_light;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    padding-top: 1rem;
    
    position: relative;
    z-index: 1;

    // footer globe
    >span{
        position: absolute;
        bottom: -10%;
        right: -20%;
        display: inline-block;
        width: 80vw;
        height: 50vh;
        box-shadow: 0 0 70px $orange,0 0 70px $orange,0 0 70px $orange;
        animation: footer_globe_an 5s linear infinite;
        @keyframes footer_globe_an {
            0%{box-shadow: 0 0 70px $orange}
            50%{box-shadow: 0 0 70px $orange,0 0 70px $orange,0 0 70px $orange;}
            100%{box-shadow: 0 0 70px $orange}
        }

        aspect-ratio: 1/1;
        background-color: $orange;
        // border-radius: 10%;
        border-top-left-radius: 80%;
        z-index: -3;
        @extend .grained;

    }

    >#footer_header{
        padding: .5rem;
        font-size: 1.4rem;
    }


    
    >#footer_content{
        padding: .5rem;
        height: 100%;
        display: flex;
        gap: 2rem;
        padding-bottom: 4rem;
        >div{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            text-transform: uppercase;
            gap: 1.5rem;
        }

    }

    >#footer_footer{
        font-size: 6.2rem;
        color:$gray_light;
        font-weight: 900;
        display: flex;
        flex-direction: column;
        line-height: 75%;
        text-align: center;
        position: relative;
        align-items: center;
        left: 50%;
        transform: translateX(-50%) translateY(.2rem);

        >span{
            position: relative;
        
            display: inline-block;
        }
    }
}



// backgrounds
  
@keyframes godrays {
    from {
        background-position: 50% 50%, 50% 50%;
    }
    to {
        background-position: 350% 50%, 350% 50%;
    }
}

.godrays {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    --stripes: repeating-linear-gradient( 100deg, #fff 0%, #fff 7%, transparent 10%, transparent 12%, #fff 16% );


    --rainbow: repeating-linear-gradient( 100deg, #9a9a9a 10%, #141414 15%, #9a9a9a 20%, #8f8f8f 25%, #9a9a9a 30% );
    background-image: var(--stripes), var(--rainbow);
    background-size: 300%, 200%;
    background-position: 50% 50%, 50% 50%;
    filter: invert(100%);
    mask-image: radial-gradient(ellipse at 100% 0%, black 30%, transparent 70%);
    pointer-events: none;
    opacity: .3;
    z-index: -1;
}

.godrays::after {
    content: "";
position: absolute;
inset: 0;
background-image: var(--stripes), var(--rainbow);
background-size: 200%, 100%;
animation: godrays 80s linear infinite;
background-attachment: fixed;
mix-blend-mode: difference;
}


#globe_wrapper{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 20rem;
    padding-top: 25rem;
    z-index: -2;
    // opacity: 0;
    transition: .5s;

    &.passive{
        opacity: 0;

        >#globe{
            transition: .5s;
            background-color: transparent;
        }
    }

    #globe{
        // width: 33rem;
        // height: 33rem;
        // position: absolute;
        // bottom: -5rem;
        // right: -15rem;

        position: absolute;
        left: 50%;
        transform: translateX(-50%) scale(.8);

        // box-shadow: 0 0 100px $orange;
        // background-color: $orange;
        z-index: -2;
        border-radius: 50%;
        
        transition: .5s;
        background-image: url(/ui/grain.png);
       &.globe_bigger{
        transition: 1s;
        width: 66rem;
        height: 66rem;
        
       }

       


    //    animation: globe_an linear forwards;
    //    animation-timeline: scroll(root);

    //     @keyframes globe_an {
    //         30%{width: 55rem; height: 55rem;}
    //         100%{width: 55rem; height: 55rem;}
    //     }
    
    }
}




// golden ratio

  
 
  
  $frame:$gray_normal;
  $circles: #1f1f1f;
 
.ct *::before,.ct *::after{content:'';position:absolute;}

.ct{margin:0 auto;position:relative;width:300px;height:300px}

/*Blue big circle and it's diameter coordinates*/
.circle-large{width:300px;height:300px;position:relative;border-radius:100%;border:2px solid $circles}
.circle-large::before{background:$circles;top:50%;width:299px;height:1px;}
.circle-large::after{background:$circles;left:50%;top:0;width:1px;height:299px;}

.circle-large{

    *{
        transition: .5s !important;
        opacity: 1;
    }

    &.passive{
        *{
            opacity: 0;
        }
    }
    
}

/*Smaller, orange, centered circle*/
.circle-small{width:148px;height:148px;border-radius:100%;box-shadow:0 0 0 1px $circles;position:absolute;top:75px;left:75px;z-index:2;
animation:counterRotate 8s infinite linear;}

/*Tiny orange circle that spins on circle-small's side*/
.bullseye{width:11px;height:11px;border:2px solid $orange;border-radius:100%;position:absolute;left:50%;margin-left:-5px;margin-top:-6px;
animation:rotate 4s infinite linear}
.bullseye::before{width:148px;height:148px;left:-71.5px;top:-71.5px;border-radius:100%;border:2px solid $orange;}

  .axis{position:absolute;background:$circles;border:0;z-index:2;margin:0}
  .axis.horizontal{top:4px;left:-145px;width:300px;height:2px}
  .axis.vertical{top:-145px;left:4px;height:300px;width:2px}

  .axis::before,
  .axis::after{width:9px;height:9px;background:$orange;border-radius:100%}
  .axis::before{top:-4px;left:-4px;}
  .axis::after{bottom:-4px;right:-4px}

  .bullet{width:11px;height:11px;border-radius:100%;border:1px solid $frame;position:absolute;top:69px;left:-5px}
  .bullet:nth-child(2){top:219px}

/*Orange ellipses*/

.ellipse{border:2px solid $frame;position:absolute;border-radius:100%;width:450px;height:150px;top:75px;left:-75px;}
.ellipse:nth-child(3){transform:rotate(45deg)}
.ellipse:nth-child(4){transform:rotate(90deg)}
.ellipse:nth-child(5){transform:rotate(135deg)}

@keyframes counterRotate { to{transform: rotate(-360deg)} }
@keyframes rotate { to{transform: rotate(360deg)} }