// imports 
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

//root

$white:#f7f7f7;
$gray_light:#f0f0f0;
$gray_normal:#8f8f8f;
$gray_dark:#333333;
$orange:#ff3e00;



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    transition: .2s;
}

body{
    background-color: $gray_light;
    background-image: url(/ui/grain.png);
    min-height: 200vh;
    position: relative;
    overflow-x: hidden;
}


// general

button{
    background-color: none;
    outline: none;
    border: none;
    border-radius: 5px;

}

a{
    color: unset;
    text-decoration: unset;
}


// exception

body:has(.menu_active){
    nav{
        opacity: 0;
    }
}

// parts

nav{
    width: calc(100% - 1rem);
    padding: .2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.5rem;
    position: sticky;
    top: 1rem;
    left: .5rem;
    z-index: 2;
    transition-delay: .3s !important;
    transition: .6s;
    // background: rgba(0,0,0,0.5);
    // -webkit-backdrop-filter: blur(10px);
    // backdrop-filter: blur(10px);
    // border: 1px solid rgba(0,0,0,0.25);
    // border-radius: .5rem;

    &::before{
        content: "";
        width: 100vw;
        height: 250%;
        pointer-events: none;
        backdrop-filter: blur(5px);
        // background-color: #ffffff96;
        mask-image: linear-gradient(#000000 50%, rgba(0, 0, 0, 0) 100%);
        position: absolute;
        top: -1.1rem;
        left: -.5rem;
        z-index: -1;
    }

    #nav_left{
        >h1{
            font-size: 1.5rem;
            font-weight: 700;
        }
    }

    

    >#menu_button{
        background-image: url(/ui/grain.png);
        background-color: $gray_dark;
        height: 90%;
        aspect-ratio: 1.2/1;
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        gap: .5rem;
        padding: .7rem;

        >span{
            width: 100%;
            height: 3px;
            border-radius: 1px;
            background-color: $gray_light;

            

            &:nth-last-child(1){
                width: 70%;
            }
        }
        
    }

    >#nav_middle{
        display: none;
    }
    >#nav_right{
        display: none;
    }

}

menu{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    transition: .5s;
    padding: .7rem;
    // glass effect
    background: rgba(0, 0, 0, 0.5);
    background-image: url(/ui/grain.png);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(0, 0, 0, 0.25);
    color: $white;

    
    >#menu_header{
        // padding: .2rem;
        height: 3.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        top: .5rem;

        >div{

            >h1{
                font-size: 1.3rem;
                font-weight: 600;
            }
            >span{
                font-size: .9rem;
                font-weight: 300;
            }
        }

        >button{
            height: 90%;
            aspect-ratio: 1/1;
            font-size: 1.7rem;
            font-weight: 700;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 0;
        }
    }

    >#menu_links{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        >a{
            font-size: 1.2rem;
            font-weight: 600;
        }
    }

    &.menu_active{
        transition: .7s;
        left: 0%;
    }
}

main{
    width: calc(100% - 1rem);
    position: relative;
    left: .5rem;
    margin-top: 2rem;
    padding: .2rem;
    transition-delay: .3s !important;
    transition: .6s;
    display: flex;
    flex-direction: column;
    gap: 4rem;

    &.main_disabled{
        // transition: .5s;
        // left: -100%;
        opacity: 0;
    }

    >#main_part_1{
        padding-top: 20vh;

        >h1{
            font-size: 8vw;
            font-weight: 600;

            >span{
                text-decoration: underline $orange;
            }
        }
    }

    >#main_part_2{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        height: 100vh;
        >div{
            height: 80%;
            width: 50%;
           

            >div{
                width: 100%;
                // background-color: $gray_normal;
                border-radius: .7rem;
                // color: $white;
                padding: .5rem;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                >h2{
                    font-size: 1.2rem;
                    font-weight: 500;
                }

                ul{
                    list-style-type: none;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    font-size: .9rem;
                }
            }

            &#part_2_left{
                
                >div{
                    height: 100%;
                }
            }

            &#part_2_right{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                
                >div{
                    height: calc(33% - .4rem);
                }
            }
        }

    }
}







// backgrounds
  
@keyframes godrays {
    from {
        background-position: 50% 50%, 50% 50%;
    }
    to {
        background-position: 350% 50%, 350% 50%;
    }
}

.godrays {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    --stripes: repeating-linear-gradient( 100deg, #fff 0%, #fff 7%, transparent 10%, transparent 12%, #fff 16% );


    --rainbow: repeating-linear-gradient( 100deg, #9a9a9a 10%, #141414 15%, #9a9a9a 20%, #8f8f8f 25%, #9a9a9a 30% );
    background-image: var(--stripes), var(--rainbow);
    background-size: 300%, 200%;
    background-position: 50% 50%, 50% 50%;
    filter: invert(100%);
    mask-image: radial-gradient(ellipse at 100% 0%, black 30%, transparent 70%);
    pointer-events: none;
    opacity: .3;
    z-index: -1;
}

.godrays::after {
    content: "";
position: absolute;
inset: 0;
background-image: var(--stripes), var(--rainbow);
background-size: 200%, 100%;
animation: godrays 80s linear infinite;
background-attachment: fixed;
mix-blend-mode: difference;
}


.globe_wrapper{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    padding-left: 20rem;
    padding-top: 20rem;
    overflow: hidden;
    z-index: -2;
    opacity: 0;

    #globe{
        width: 33rem;
        height: 33rem;
        position: absolute;
        bottom: -5rem;
        right: -15rem;
        background-color: $orange;
        z-index: -2;
        border-radius: 50%;
        box-shadow: 0 0 100px $orange;
        transition: .5s;
        background-image: url(/ui/grain.png);
       &.globe_bigger{
        transition: 1s;
        width: 66rem;
        height: 66rem;
        
       }

       &.globe_passive{
        background-color: transparent;
       }


    //    animation: globe_an linear forwards;
    //    animation-timeline: scroll(root);

    //     @keyframes globe_an {
    //         30%{opacity: 0;}
    //         100%{opacity: 0;}
    //     }
    
    }
}