@charset "UTF-8";
@import url("fonts/neue-cond/stylesheet.css");
@import url("fonts/neue/stylesheet.css");
.grained, footer > span, footer, main > #main_part_5 > #part_5_content > #part_5_progress_bar > span, main > #main_part_4 > .part_4_box > .part_4_box_right, main, body > #load_page {
  background-image: url(/ui/grain.png);
}

.button_outline, main > #main_part_4 > .part_4_box > .part_4_box_left > a, main > #main_part_3 > a {
  position: relative;
  display: inline-block;
  padding: 0.8rem 1.2rem;
  padding-left: 2.2rem;
  border: 1px solid #8f8f8f;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 3rem;
  overflow: hidden;
  transition: 0.7s;
}
.button_outline::before, main > #main_part_4 > .part_4_box > .part_4_box_left > a::before, main > #main_part_3 > a::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ff3e00;
  box-shadow: 0 0 10px #ff3e00, 0 0 10px #ff3e00, 0 0 10px #ff3e00, 0 0 10px #ff3e00;
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.7s;
}
.button_outline:hover, main > #main_part_4 > .part_4_box > .part_4_box_left > a:hover, main > #main_part_3 > a:hover {
  box-shadow: inset 0 0 150px #222222;
  padding-left: 3.2rem;
}
.button_outline:hover::before, main > #main_part_4 > .part_4_box > .part_4_box_left > a:hover::before, main > #main_part_3 > a:hover::before {
  box-shadow: 0 0 10px #ff3e00, 0 0 10px #ff3e00;
  width: 20px;
  border-radius: 2px;
}

.button_filled {
  position: relative;
  display: inline-block;
  padding: 1.7rem 4rem;
  border: 1px solid #8f8f8f;
  color: #e8e8e8;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0.7rem;
  overflow: hidden;
  transition: 0.7s;
  font-size: 0.9rem;
  display: flex;
  font-weight: 500;
  align-items: center;
  gap: 1rem;
}
.button_filled > span:nth-last-child(1) {
  content: "⇒";
  width: 4rem;
  height: 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #ff3e00;
  border-radius: 15px;
  background-color: #e8e8e8;
  box-shadow: 0 0 10px #ff3e00;
  transition: 0.7s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button_filled:hover {
  box-shadow: inset 0 0 150px #222222;
  padding-left: 3.2rem;
}
.button_filled:hover::before {
  box-shadow: 0 0 10px #ff3e00, 0 0 10px #ff3e00;
  width: 20px;
  border-radius: 2px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Neue Plak", sans-serif;
  transition: 0.2s;
}

.font_2, main > #main_part_5 > #part_5_content > div > h4, main > #main_part_5 > #part_5_content > div, main > #main_part_4 > #part_4_footer > h3, main > #main_part_2 > div > div > p, main > #main_part_2 > div > div > div > div:nth-child(1) > h2, menu > #menu_links > *:nth-last-child(1) > span:nth-last-child(1), .button_filled {
  font-family: "Neue Plak", sans-serif;
}

.font_3, menu > #menu_footer > div:nth-child(2) > h2, menu > #menu_footer > div:nth-last-child(1) > span, menu > #menu_links > * {
  font-family: "Neue Plak Condensed", sans-serif !important;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #e8e8e8;
  background-image: url(/ui/grain.png);
  position: relative;
  overflow-x: hidden;
}
body > #load_page {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  z-index: 20;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  transition: opacity 1s;
  background-color: #000000;
  animation: load_out 3.5s ease-in-out forwards;
  padding-bottom: 20vh;
}
@keyframes load_out {
  0% {
    -webkit-backdrop-filter: blur(100px);
            backdrop-filter: blur(100px);
  }
  70% {
    -webkit-backdrop-filter: blur(100px);
            backdrop-filter: blur(100px);
  }
  95% {
    -webkit-backdrop-filter: blur(0);
            backdrop-filter: blur(0);
  }
  99% {
    -webkit-backdrop-filter: blur(0);
            backdrop-filter: blur(0);
  }
  100% {
    -webkit-backdrop-filter: blur(100);
            backdrop-filter: blur(100);
    display: none;
  }
}
body > #load_page, body > #load_page * {
  filter: unset;
}
body > #load_page > #load_name {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}
body > #load_page > #load_name > div {
  height: 1.1em;
  overflow: hidden;
  animation: load_name_an_1 2.4s linear forwards;
  color: #e8e8e8;
  font-weight: 400;
}
@keyframes load_name_an_1 {
  25% {
    transform: translateY(0);
    filter: blur(0px);
    opacity: 1;
  }
  65% {
    transform: translateY(0);
    filter: blur(0px);
    opacity: 1;
  }
  85% {
    transform: translateY(0);
    filter: blur(5px);
    opacity: 0;
  }
}
body > #load_page > #load_name > div:nth-child(1) {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(-40%);
}
body > #load_page > #load_name > div:nth-child(2) {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(30%);
  animation-delay: 0.4s !important;
}
body > #load_page > #load_slogan {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
body > #load_page > #load_slogan > span {
  display: none;
  width: 1rem;
  height: 3px;
  background-color: #ff3e00;
  opacity: 0;
  animation-delay: 1.4s !important;
}
body > #load_page > #load_slogan h4 {
  font-weight: 500;
  color: #ff3e00;
  animation: load_slogan_an_2 2.4s linear forwards;
}
@keyframes load_slogan_an_2 {
  25% {
    opacity: 1;
    transform: translateX(0);
  }
  95% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(0);
  }
}
body > #load_page > #load_slogan h4 > span {
  display: inline-block;
  opacity: 0;
  transform: translateX(-0.3rem);
  animation: load_slogan_an_1 0.2s linear forwards;
}
@keyframes load_slogan_an_1 {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
body > #load_page > #load_slogan h4 > span:nth-child(1) {
  animation-delay: 1.1s;
}
body > #load_page > #load_slogan h4 > span:nth-child(2) {
  animation-delay: 1.2s;
}
body > #load_page > #load_slogan h4 > span:nth-child(3) {
  animation-delay: 1.3s;
}
body > #load_page > #load_slogan h4 > span:nth-child(4) {
  animation-delay: 1.4s;
}
body:has(.dark) > nav {
  color: #e8e8e8;
}
body:has(.dark) > nav > #nav_left > h1 {
  font-weight: 600;
}
body:has(.dark) > nav > #menu_button {
  background-color: #e8e8e8;
}
body:has(.dark) > nav > #menu_button > span {
  background-color: #222222;
}

button {
  background-color: none;
  outline: none;
  border: none;
  border-radius: 5px;
}

a {
  color: unset;
  text-decoration: unset;
}

ul {
  list-style-type: none;
}

body:has(.menu_active) nav {
  opacity: 0;
}

nav {
  width: calc(100% - 1rem);
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.5rem;
  position: fixed;
  top: 1rem;
  left: 0.5rem;
  z-index: 2;
  transition-delay: 0.3s !important;
  transition: 0.6s;
}
nav::before {
  content: "";
  width: 100vw;
  height: 250%;
  pointer-events: none;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-mask-image: linear-gradient(#000000 50%, rgba(0, 0, 0, 0) 100%);
          mask-image: linear-gradient(#000000 50%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  top: -1.1rem;
  left: -0.5rem;
  z-index: -1;
}
nav #nav_left > h1 {
  font-size: 1.5rem;
  font-weight: 700;
}
nav #nav_left > span {
  font-weight: 300;
}
nav > #menu_button {
  background-image: url(/ui/grain.png);
  background-color: #222222;
  border: 1px solid #8f8f8f;
  height: 90%;
  aspect-ratio: 1.2/1;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.7rem;
}
nav > #menu_button > span {
  width: 100%;
  height: 3px;
  border-radius: 1px;
  background-color: #e8e8e8;
}
nav > #menu_button > span:nth-last-child(1) {
  width: 70%;
}
nav > #nav_middle {
  display: none;
}
nav > #nav_right {
  display: none;
}

menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 20;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  transition: 0.5s ease;
  padding: 0.4rem;
  background-color: rgba(34, 34, 34, 0.8);
  background-image: url(/ui/grain.png);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(0, 0, 0, 0.25);
  color: #f7f7f7;
}
menu > #menu_decoration {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
menu > #menu_decoration > #menu_dec_globe {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -30vw;
  width: 120vw;
  height: 120vw;
  border-radius: 50%;
  opacity: 0.1;
  box-shadow: 0 0 100px #ff3e00, 0 0 100px #ff3e00;
  filter: blur(55px);
  background-color: #ff3e00;
  background-image: url(/ui/grain.png);
}
menu > #menu_header {
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 0.5rem;
}
menu > #menu_header > div > h1 {
  font-size: 1.3rem;
  font-weight: 600;
}
menu > #menu_header > div > span {
  font-size: 0.9rem;
  font-weight: 300;
}
menu > #menu_header > div:nth-last-child(1) {
  display: flex;
  height: 100%;
  gap: 1rem;
}
menu > #menu_header > div:nth-last-child(1) > button {
  height: 90%;
  aspect-ratio: 1/1;
  font-size: 2.2rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}
menu > #menu_header > div:nth-last-child(1) > button:nth-child(1) {
  background-color: transparent;
}
menu > #menu_header > div:nth-last-child(1) > button:nth-child(1) > span {
  font-size: 1rem;
  font-weight: 400;
  color: #e8e8e8;
}
menu > #menu_header > div:nth-last-child(1) > button:nth-child(1) > span:nth-child(1) {
  color: #ff3e00;
}
menu > #menu_header > div:nth-last-child(1) > button:nth-child(1) > span:nth-child(2) {
  color: #8f8f8f;
}
menu > #menu_header > div:nth-last-child(1) > button:nth-last-child(1) {
  font-size: 2.2rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
}
menu > #menu_header > div:nth-last-child(1) > button:nth-last-child(1) > span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 100%;
  line-height: 300%;
  text-align: center;
  padding-bottom: 0.4rem;
}
menu > #menu_links {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-left: 1rem;
}
menu > #menu_links > * {
  font-size: 2.3rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  position: relative;
}
menu > #menu_links > * > span {
  width: 1rem;
  height: 3px;
  border-radius: 1px;
  background-color: #8f8f8f;
}
menu > #menu_links > * > span:nth-child(1) {
  width: 0.5rem;
}
menu > #menu_links > *.menu_link_active {
  color: #ff3e00;
}
menu > #menu_links > *.menu_link_active > span:nth-child(1) {
  margin-right: 0.8rem;
}
menu > #menu_links > *:nth-last-child(1) {
  color: #7c7c7c;
  position: relative;
}
menu > #menu_links > *:nth-last-child(1) > span:nth-last-child(1) {
  background-color: transparent;
  width: unset;
  height: unset;
  color: #e8e8e8;
  font-weight: 300;
  font-size: 0.8rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 0.5rem;
}
menu.menu_active {
  transition: 0.7s;
  left: 0%;
}
menu > #menu_footer {
  height: 120vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
menu > #menu_footer > div {
  height: 45%;
  padding: 0 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
menu > #menu_footer > div:nth-last-child(1) {
  height: 10%;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0;
}
menu > #menu_footer > div:nth-last-child(1) > span {
  font-size: 1.1rem;
  color: #b7b7b7;
}
menu > #menu_footer > div:nth-last-child(1) > span > span {
  border-radius: 50%;
  font-size: 0.9rem;
}
menu > #menu_footer > div:nth-child(2) {
  justify-content: center;
}
menu > #menu_footer > div:nth-child(2) > h2 {
  font-size: 2.5rem;
  color: #ffffff;
  opacity: 0.5;
}
menu > #menu_footer > div:nth-child(2) > div {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  margin-top: 1rem;
}
menu > #menu_footer > div:nth-child(2) > div > a {
  font-size: 1.7rem;
  color: #b7b7b7;
}
menu > #menu_footer > div > p {
  font-size: 0.8rem;
  font-weight: 500;
  color: #b7b7b7;
}

.decoration_box {
  position: absolute;
  top: 0;
  left: 0;
  height: 95%;
  width: 100%;
  z-index: -2;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.decoration_box > div {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

main {
  width: 100%;
  position: relative;
  left: 0;
  margin-top: 1rem;
  padding: 0.5rem;
  transition-delay: 0.3s !important;
  transition: 0.6s;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main.dark {
  transition: 1s;
  background-color: #222222;
}
main.dark #main_part_2, main.dark #main_part_3 {
  color: #e8e8e8;
}
main.white {
  transition: 1s;
  background-color: #222222;
}
main.white #part_5_content > div {
  color: #8f8f8f !important;
}
main.main_disabled {
  opacity: 0;
}
main .main_part {
  position: relative;
}
main > #main_part_1 {
  height: 100vh;
}
main > #main_part_1 > .decoration_box > div:nth-child(1) > div:nth-last-child(1) {
  font-style: italic;
}
main > #main_part_1 > .decoration_box > div:nth-last-child(1) > div:nth-last-child(1) {
  overflow: hidden;
}
main > #main_part_1 > .decoration_box > div:nth-last-child(1) > div:nth-last-child(1) #scroll_text {
  font-size: 1.1rem;
  display: inline-block;
  animation: scroll_text_an 5s linear infinite;
}
@keyframes scroll_text_an {
  0% {
    transform: translateY(-2rem) rotate(10deg);
  }
  30% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(2rem);
  }
}
main > #main_part_1 > h1 {
  margin-top: 18vh;
  text-align: center;
  font-size: 8vw;
  font-weight: 600;
}
main > #main_part_2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
  height: 100%;
}
main > #main_part_2 > h1 {
  font-size: 1.2rem;
  font-weight: 500;
  color: #222222;
}
main > #main_part_2 > div {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
main > #main_part_2 > div > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
main > #main_part_2 > div > div > div {
  height: 2.8rem;
  display: flex;
  position: relative;
  gap: 1rem;
}
main > #main_part_2 > div > div > div > div {
  height: 100%;
}
main > #main_part_2 > div > div > div > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
main > #main_part_2 > div > div > div > div:nth-child(1) > h2 {
  text-transform: uppercase;
  font-size: 1.4rem;
  text-wrap: nowrap;
}
main > #main_part_2 > div > div > div > div:nth-child(2) {
  height: 100%;
  aspect-ratio: 1/1;
}
main > #main_part_2 > div > div > div > div:nth-child(2) > svg {
  height: 100%;
  width: 100%;
}
main > #main_part_2 > div > div > div > div:nth-child(2) > svg .cls-1 {
  fill: #ff3e00;
  stroke-width: 5px;
  stroke: #ff3e00;
}
main > #main_part_2 > div > div > p {
  font-size: 0.8rem;
  text-transform: uppercase;
}
main > #main_part_3 {
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main > #main_part_3 > h2 {
  font-weight: 400;
  font-size: 1.7rem;
  width: 90%;
}
main > #main_part_3 > a {
  margin-top: 1rem;
}
main > #main_part_4 {
  min-height: 100vh;
  padding-top: 7rem;
  display: flex;
  flex-direction: column;
  gap: 7rem;
}
main > #main_part_4 > h1 {
  font-size: 1.2rem;
  font-weight: 500;
  color: #8f8f8f;
  margin-bottom: -2rem;
}
main > #main_part_4 > .part_4_box {
  width: 100%;
  height: 25rem;
  display: flex;
  gap: 0.5rem;
  color: #e8e8e8;
}
main > #main_part_4 > .part_4_box > .part_4_box_left {
  width: 45%;
  height: 100%;
  text-align: left;
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 300;
}
main > #main_part_4 > .part_4_box > .part_4_box_left > h2 {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
main > #main_part_4 > .part_4_box > .part_4_box_left > div {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
main > #main_part_4 > .part_4_box > .part_4_box_left > div > span {
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 3px;
  font-size: 0.9rem;
}
main > #main_part_4 > .part_4_box > .part_4_box_left > div > span:nth-child(1) {
  font-size: 0.8rem;
  color: #8f8f8f;
  font-weight: 400;
}
main > #main_part_4 > .part_4_box > .part_4_box_right {
  width: 55%;
  height: 100%;
  background-color: #4b4b4b;
  border-radius: 0.5rem;
  overflow: hidden;
}
main > #main_part_4 > .part_4_box > .part_4_box_right > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main > #main_part_4 > .part_4_box:nth-child(odd) {
  align-items: flex-end;
  flex-direction: row-reverse;
}
main > #main_part_4 > .part_4_box:nth-child(odd) * {
  align-items: flex-end;
  text-align: right;
}
main > #main_part_4 > #part_4_footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main > #main_part_4 > #part_4_footer > span {
  font-size: 1rem;
  color: #8f8f8f;
}
main > #main_part_4 > #part_4_footer > h3 {
  width: 90%;
  color: #e8e8e8;
  font-size: 1.4rem;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main > #main_part_5 {
  margin-top: 15vh;
  min-height: 120vh;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
main > #main_part_5 > div:nth-child(1) {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
}
main > #main_part_5 > div:nth-child(1) > h1 {
  color: #8f8f8f;
}
main > #main_part_5 > div:nth-child(1) > div {
  overflow: hidden;
}
main > #main_part_5 > div:nth-child(1) > div > span {
  display: inline-block;
  position: relative;
  color: #8f8f8f;
  animation: scroll_text_an 5s linear infinite;
}
main > #main_part_5 > #part_5_content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}
main > #main_part_5 > #part_5_content > #part_5_progress_bar {
  height: 10%;
  width: 2px;
  background-color: #ff3e00;
  position: absolute;
  top: 0;
  left: 0;
  transition: 1s ease;
  border-radius: 2px;
  filter: unset;
  box-shadow: 0 0 10px #ff3e00;
  padding-left: 0 !important;
}
main > #main_part_5 > #part_5_content > #part_5_progress_bar > span {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  width: 3rem;
  height: 2rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  left: 0;
  bottom: -1rem;
  background-color: #ff3e00;
  z-index: 2;
  box-shadow: 0 0 10px #ff3e00;
  padding-left: 0.5rem;
}
main > #main_part_5 > #part_5_content > div {
  padding-left: 0.9rem;
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #e8e8e8;
  gap: 1rem;
  transition: 1s;
}
main > #main_part_5 > #part_5_content > div > span {
  z-index: 3;
}
main > #main_part_5 > #part_5_content > div.active {
  filter: unset;
}
main > #main_part_5 > #part_5_content > div.active > h4 {
  filter: blur(0);
}
main > #main_part_5 > #part_5_content > div > h4 {
  transition: 1s;
  font-size: 0.9rem;
  font-weight: 300;
  padding-left: 0.5rem;
  filter: blur(10px);
}
main > #main_part_5 > #part_5_content > div:nth-child(1) {
  color: #ff3e00;
  filter: unset;
}
main > #main_part_5 > #part_5_content > div:nth-child(1) > h4 {
  font-weight: 500 !important;
  filter: unset;
}
main > #main_part_5 > #part_5_content > div:nth-child(1) > span {
  color: #e8e8e8;
}
main > #main_part_6 {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  text-align: right;
}
main > #main_part_6 > #part_6_banner {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 10vh 0;
}
main > #main_part_6 > #part_6_banner > h1 {
  font-size: 1.1rem;
  color: #e8e8e8;
  font-weight: 600;
}
main > #main_part_6 > #part_6_banner > h2 {
  font-size: 1.1rem;
  color: #e8e8e8;
  font-weight: 300;
}
main > #main_part_6 > #part_6_content {
  font-weight: 300;
  color: #e8e8e8;
}

#about_main {
  height: 60vh;
}

footer {
  height: 70vh;
  width: 100%;
  background-color: #0c0c0c;
  color: #e8e8e8;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  padding-top: 1rem;
  position: relative;
  z-index: 1;
}
footer > span {
  position: absolute;
  bottom: -10%;
  right: -20%;
  display: inline-block;
  width: 80vw;
  height: 50vh;
  box-shadow: 0 0 200px #ff3e00, 0 0 200px #ff3e00;
  aspect-ratio: 1/1;
  background-color: #ff3e00;
  border-top-left-radius: 80%;
  z-index: -3;
}
footer > #footer_header {
  padding: 0.5rem;
  font-size: 1.4rem;
}
footer > #footer_button {
  margin-top: 2rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
footer > #footer_content {
  padding: 0.5rem;
  height: 100%;
  display: flex;
  gap: 2rem;
  padding-bottom: 4rem;
}
footer > #footer_content > div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-transform: uppercase;
  gap: 1.5rem;
}
footer > #footer_footer {
  font-size: 8rem;
  color: #e8e8e8;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  line-height: 75%;
  text-align: center;
  position: relative;
  align-items: center;
  left: 50%;
  transform: translateX(-50%) translateY(0.2rem);
}
footer > #footer_footer > span {
  position: relative;
  display: inline-block;
}

@keyframes godrays {
  from {
    background-position: 50% 50%, 50% 50%;
  }
  to {
    background-position: 350% 50%, 350% 50%;
  }
}
.godrays {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  --stripes: repeating-linear-gradient( 100deg, #fff 0%, #fff 7%, transparent 10%, transparent 12%, #fff 16% );
  --rainbow: repeating-linear-gradient( 100deg, #9a9a9a 10%, #141414 15%, #9a9a9a 20%, #8f8f8f 25%, #9a9a9a 30% );
  background-image: var(--stripes), var(--rainbow);
  background-size: 300%, 200%;
  background-position: 50% 50%, 50% 50%;
  filter: invert(100%);
  -webkit-mask-image: radial-gradient(ellipse at 100% 0%, black 30%, transparent 70%);
          mask-image: radial-gradient(ellipse at 100% 0%, black 30%, transparent 70%);
  pointer-events: none;
  opacity: 0.3;
  z-index: -1;
}

.godrays::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--stripes), var(--rainbow);
  background-size: 200%, 100%;
  animation: godrays 80s linear infinite;
  background-attachment: fixed;
  mix-blend-mode: difference;
}

#globe_wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  padding-left: 20rem;
  padding-top: 25rem;
  z-index: -2;
  transition: 0.5s;
}
#globe_wrapper.passive {
  opacity: 0;
}
#globe_wrapper.passive > #globe {
  transition: 0.5s;
  background-color: transparent;
}
#globe_wrapper #globe {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-5%) scale(0.8);
  z-index: -2;
  border-radius: 50%;
  transition: 0.5s;
  background-image: url(/ui/grain.png);
}
#globe_wrapper #globe.globe_bigger {
  transition: 1s;
  width: 66rem;
  height: 66rem;
}

.ct *::before,
.ct *::after {
  content: "";
  position: absolute;
}

.ct {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 330px;
  height: 330px;
}
.ct * {
  animation-delay: 3.2s !important;
}

.circle-large {
  width: 330px;
  height: 330px;
  position: relative;
  border-radius: 100%;
  border: 2px solid #1f1f1f;
}
.circle-large::before {
  background: #1f1f1f;
  top: 50%;
  width: 329px;
  height: 1px;
}
.circle-large::after {
  background: #1f1f1f;
  left: 50%;
  top: 0;
  width: 1px;
  height: 329px;
}
.circle-large * {
  transition: 0.5s !important;
  opacity: 1;
}
.circle-large.passive * {
  opacity: 0;
}

.circle-small {
  width: 162.789px;
  height: 162.789px;
  border-radius: 100%;
  box-shadow: 0 0 0 1px #1f1f1f;
  position: absolute;
  top: 83.6055px;
  left: 83.6055px;
  z-index: 2;
  animation: counterRotate 8s infinite linear;
}

.bullseye {
  width: 12.111px;
  height: 12.111px;
  border: 2px solid #ff3e00;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  margin-left: -6.0555px;
  margin-top: -6.0555px;
  animation: rotate 4s infinite linear;
}
.bullseye::before {
  width: 162.789px;
  height: 162.789px;
  left: -81.3945px;
  top: -81.3945px;
  border-radius: 100%;
  border: 2px solid #ff3e00;
}

.axis {
  position: absolute;
  background: #1f1f1f;
  border: 0;
  z-index: 2;
  margin: 0;
}
.axis.horizontal {
  top: 4px;
  left: -161px;
  width: 330px;
  height: 2px;
}
.axis.vertical {
  top: -161px;
  left: 4px;
  height: 330px;
  width: 2px;
}
.axis::before, .axis::after {
  width: 9px;
  height: 9px;
  background: #ff3e00;
  border-radius: 100%;
}
.axis::before {
  top: -4px;
  left: -4px;
}
.axis::after {
  bottom: -4px;
  right: -4px;
}

.bullet {
  width: 12.111px;
  height: 12.111px;
  border-radius: 100%;
  border: 1px solid #8f8f8f;
  position: absolute;
  top: 75.9px;
  left: -6.0555px;
}
.bullet:nth-child(2) {
  top: 240.9px;
}

.ellipse {
  border: 2px solid #8f8f8f;
  position: absolute;
  border-radius: 100%;
  width: 495px;
  height: 165px;
  top: 82.5px;
  left: -82.5px;
}

.ellipse:nth-child(3) {
  transform: rotate(45deg);
}

.ellipse:nth-child(4) {
  transform: rotate(90deg);
}

.ellipse:nth-child(5) {
  transform: rotate(135deg);
}

@keyframes counterRotate {
  to {
    transform: rotate(-360deg);
  }
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
/* Çizgi Çerçevesi */
.marquee {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  width: 101vw;
  margin-left: -0.6rem;
  height: 50px; /* Çizgi yüksekliği */
  display: flex;
}

/* Kayan İçerik */
.marquee-content {
  display: flex;
  align-items: flex-end;
  animation: marquee 10s linear infinite;
}

/* İki Kopyayı Yan Yana Getirme */
.marquee-content span {
  display: inline-block;
  font-size: 1.1rem;
}
.marquee-content span > span {
  padding: 0 0.5rem;
}

/* Animasyon */
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}/*# sourceMappingURL=style.css.map */