@font-face {
    font-family: 'Neue Plak Condensed';
    src: url('NeuePlak-CondThin.eot');
    src: local('Neue Plak Condensed Thin'), local('NeuePlak-CondThin'),
        url('NeuePlak-CondThin.eot?#iefix') format('embedded-opentype'),
        url('NeuePlak-CondThin.woff2') format('woff2'),
        url('NeuePlak-CondThin.woff') format('woff'),
        url('NeuePlak-CondThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak Condensed Extra';
    src: url('NeuePlak-CondExtraBlack.eot');
    src: local('Neue Plak Condensed Extra Black'), local('NeuePlak-CondExtraBlack'),
        url('NeuePlak-CondExtraBlack.eot?#iefix') format('embedded-opentype'),
        url('NeuePlak-CondExtraBlack.woff2') format('woff2'),
        url('NeuePlak-CondExtraBlack.woff') format('woff'),
        url('NeuePlak-CondExtraBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak Condensed';
    src: url('NeuePlak-CondBold.eot');
    src: local('Neue Plak Condensed Bold'), local('NeuePlak-CondBold'),
        url('NeuePlak-CondBold.eot?#iefix') format('embedded-opentype'),
        url('NeuePlak-CondBold.woff2') format('woff2'),
        url('NeuePlak-CondBold.woff') format('woff'),
        url('NeuePlak-CondBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak Condensed';
    src: url('NeuePlak-CondBlack.eot');
    src: local('Neue Plak Condensed Black'), local('NeuePlak-CondBlack'),
        url('NeuePlak-CondBlack.eot?#iefix') format('embedded-opentype'),
        url('NeuePlak-CondBlack.woff2') format('woff2'),
        url('NeuePlak-CondBlack.woff') format('woff'),
        url('NeuePlak-CondBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak Condensed Ultra';
    src: url('NeuePlak-CondUltraLight.eot');
    src: local('Neue Plak Condensed Ultra Light'), local('NeuePlak-CondUltraLight'),
        url('NeuePlak-CondUltraLight.eot?#iefix') format('embedded-opentype'),
        url('NeuePlak-CondUltraLight.woff2') format('woff2'),
        url('NeuePlak-CondUltraLight.woff') format('woff'),
        url('NeuePlak-CondUltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak Condensed';
    src: url('NeuePlak-CondRegular.eot');
    src: local('Neue Plak Condensed'), local('NeuePlak-CondRegular'),
        url('NeuePlak-CondRegular.eot?#iefix') format('embedded-opentype'),
        url('NeuePlak-CondRegular.woff2') format('woff2'),
        url('NeuePlak-CondRegular.woff') format('woff'),
        url('NeuePlak-CondRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak Condensed';
    src: url('NeuePlak-CondSemiBold.eot');
    src: local('Neue Plak Condensed SemiBold'), local('NeuePlak-CondSemiBold'),
        url('NeuePlak-CondSemiBold.eot?#iefix') format('embedded-opentype'),
        url('NeuePlak-CondSemiBold.woff2') format('woff2'),
        url('NeuePlak-CondSemiBold.woff') format('woff'),
        url('NeuePlak-CondSemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak Condensed';
    src: url('NeuePlak-CondLight.eot');
    src: local('Neue Plak Condensed Light'), local('NeuePlak-CondLight'),
        url('NeuePlak-CondLight.eot?#iefix') format('embedded-opentype'),
        url('NeuePlak-CondLight.woff2') format('woff2'),
        url('NeuePlak-CondLight.woff') format('woff'),
        url('NeuePlak-CondLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

